<div class="" data-bind="foreach: filters">
    <div class="products__filter">
        <div class="products__heading" data-bind="text: label"></div>
        <div class="products__wrap" data-bind="foreach: options">
            <label class="products__filter-label">
                <div class="products__filter-box" data-bind="click: $component.eventHendler">
                    <span class="products__filter-checkbox" data-bind="css: { 'products__filter-checkbox--selected': isSelected() === true }"></span>
                </div>
                <span class="products__filter-text" data-bind="text: name"></span>
                <span data-bind="text: count"></span>
            </label>
        </div>
    </div>
</div>