html,
body,
#app {
  height: 100%;
}

#app {
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}