@import '_vars';
@import '_fonts';
@import '_reset';
@import '_global';

.header {
    background-color: $color-blue;
    font-family: 'Quicksand-Regular', sans-serif;
    padding: 20px 0;

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo-link {
        color: $color-white;
        font-family: 'Quicksand-Medium', sans-serif;
        font-size: 24px;
    }

    &__nav-list {
        display: flex;
    }

    &__button {
        display: none;

        &::after,
        &::before {
            background-color: $color-white;
            content: '';
            height: 3px;
            position: absolute;
            width: 100%;
        }

        &::after {
            top: 0;
        }

        &::before {
            bottom: 0;
        }
    }

    &__button-inner {
        background-color: $color-white;
        height: 3px;
        width: 100%;
    }

    &__nav-item {
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }
    }

    &__nav-link {
        color: $color-white;
        transition: all .3s;

        &--active {
            color: $color-gray;
        }

        &:hover {
            color: $color-gray;
        }
    }
}

.products {
    padding: 20px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__message {
        background-color: $color-red-light;
        border: 1px solid $color-red;
        border-radius: 6px;
        margin-top: 10px;
        padding: 5px;
    }

    &__sidebar {
        max-width: 200px;
        width: 100%;
    }

    &__inner {
        width: calc(100% - 220px);
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
    }

    &__toolbar-btn {
        display: none;
    }

    &__select {
        margin-left: 10px;
    }

    &__total-label {
        display: inline-block;
        margin-left: 10px;
    }

    &__filter {
        border: 2px solid $color-gray;
        border-radius: 6px;
        margin-bottom: 10px;
        padding: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 18px;
    }

    &__filter-label {
        align-items: center;
        cursor: pointer;
        display: flex;
    }

    &__filter-checkbox {
        background-color: $color-gray;
        border: 1px solid $color-black;
        display: block;
        height: 16px;
        margin-right: 10px;
        width: 16px;

        &--selected {
            background-image: url(../images/icons/checkbox.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__filter-input {
        &:disabled {
            & + .products__filter-checkbox {
                cursor: auto;
                opacity: .3;
            }
        }
    }

    &__grid {
        margin-bottom: 20px;
        min-height: 678px;
    }

    &__items {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 10px;
    }

    &__item {
        border: 2px solid $color-gray;
        border-radius: 6px;
        display: block;
        transition: all .3s;

        &:hover {
            border: 2px solid $color-dark-gray;
        }
    }

    &__image {
        border-radius: 6px;
        min-height: 233px;
        object-fit: cover;
    }

    &__specification {
        background-color: $color-blue;
        border-radius: 0 0 4px 4px;
        color: $color-white;
        font-size: 14px;
        min-height: 125px;
        padding: 10px;
    }

    &__price {
        font-family: 'Roboto-Bold', sans-serif;
    }

    &__description {
        font-size: 12px;
    }

    &__pagination {
        text-align: right;
    }

    &__holder {
        display: flex;
        justify-content: end;
    }

    &__numbers {
        display: flex;
    }

    &__button {
        align-items: center;
        border: 1px solid $color-gray;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        height: 25px;
        justify-content: center;
        margin-left: 5px;
        transition: all .3s;
        width: 25px;

        &--active {
            background-color: $color-blue;
            border: 1px solid $color-gray;
            color: $color-white;
        }

        &--hidden {
            display: none;
        }

        &:hover {
            background-color: $color-blue;
            border: 1px solid $color-gray;
            color: $color-white;
        }
    }
}

.footer {
    background-color: $color-blue;
    color: $color-white;
    font-family: 'Quicksand-Regular', sans-serif;

    &__social {
        padding: 20px 0;
    }

    &__social-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo-link {
        color: $color-white;
        font-family: 'Quicksand-Medium', sans-serif;
        font-size: 24px;
    }

    &__links {
        display: flex;
    }

    &__link {
        margin-left: 20px;
        
        &:first-child {
            margin-left: 0;
        }
    }

    &__image {
        transition: all .3s;

        &:hover {
            fill: $color-gray;
        }
    }

    &__copyrating {
        background-color: $color-dark-blue;
        text-align: center;
        padding: 5px 0;
    }
}

@import '_media';