<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <a class="footer__logo-link" href="#">Footer</a>
            </div>
            <div class="footer__social">
                <a class="footer__social-link" href="#">
                    <img class="footer__social-img" src="images/icons/facebook.svg" alt="">
                </a>
                <a class="footer__social-link" href="#">
                    <img class="footer__social-img" src="images/icons/instagram.svg" alt="">
                </a>
                <a class="footer__social-link" href="#">
                    <img class="footer__social-img" src="images/icons/twitter.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>