<div class="main__toolbar">
    <select data-bind="value: sortValue, click: sortLogic">
        <option value="">...chose</option>
        <option value="fromCheapToExpensive">от дешовых к дорогим</option>
        <option value="fromExpensiveToCheap">от дорогих к дешовым</option>
    </select>
    <select class="main__toolbar-select" data-bind="value: pageSizeValue, click: selectPageSize">
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="24">24</option>
        <option value="48">48</option>
    </select>
    <span>количиство товаров всего: <span data-bind="text: data_two().length"></span></span>
</div>