<div class="products__holder">
    <button class="products__toolbar-btn" data-bind="click: toggleSidebar, clickBubble: false">Filter</button>
</div>
<div class="products__holder">
    <select class="products__select" data-bind="value: sortValue">
        <option value="">...chose</option>
        <option value="fromCheapToExpensive">From cheap to expensive</option>
        <option value="fromExpensiveToCheap">From expensive to cheap</option>
    </select>
    <select class="products__select" data-bind="value: pageSizeValue">
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="24">24</option>
    </select>
    <span class="products__total-label">total: <span class="products__total" data-bind="text: products().length"></span></span>
</div>