<!-- ko if: productsGrid().length >= 1 -->
    <div class="products__items" data-bind="foreach: productsGrid">
        <a class="products__item" href="#">
            <div class="products__image-wrapper">
                <img class="products__image" data-bind="attr: { src: $parent.getUrlImage(images[0]) }" src="">
            </div>
            <div class="products__specification">
                <div class="products__name" data-bind="text: short_description"></div>
                <div class="products__price" data-bind="text: price"></div>
                <div class="products__description" data-bind="text: name"></div>
            </div>
        </a>
    </div>
<!-- /ko -->

<!-- ko if: productsGrid().length === 0 -->
    <div>There are no products available for these categories</div>
<!-- /ko -->