<div class="container">
    <div class="products__wrapper">
        <div class="products__sidebar" data-bind='component: { name: "sidebar", params: { parent: $component }}'></div>
        <div class="products__inner">
            <div class="products__toolbar" data-bind='component: { name: "toolbar", params: { parent: $component }}'></div>
            <div class="products__grid" data-bind='component: { name: "products", params: { parent: $component }}'></div>
            <div class="products__pagination" data-bind='component: { name: "pagination", params: { parent: $component }}'></div>
        </div>
    </div>
</div>