<div class="container">
    <button data-bind="click: test">Main test</button>
    <div class="main__inner">
        <div class="main__sidebar" id="sidebar" data-bind='component: { name: "sidebar", params: { parent: $component }}'>
        </div>
        <div class="main__content">
            <div id="toolbar" data-bind='component: { name: "toolbar", params: { parent: $component }}'></div>
            <div id="products" data-bind='component: { name: "products", params: { parent: $component }}'></div>
            <div id="pagination" data-bind='component: { name: "pagination", params: { parent: $component }}'></div>
        </div>
    </div>
</div>