.footer {
    background-color: #27426B;
    padding: 20px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-link {
        color: #fff;
        font-weight: 700;
        font-size: 24px;
    }

    &__social {
        display: flex;
    }

    &__social-link + .footer__social-link {
        margin-left: 20px;
    }
}